body {
	background-color: white;
	}

ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	  }

table {
	width: 80%;
	border: solid 1px black;
}

table thead tr{
	color: white;
	text-align: left;
	margin: 5px;
	height: 50px;
	text-align: center;
	
}


.zeleni {
	background-color: rgb(37, 131, 14);
	color: white;
}
.cerveni {
	background-color: rgb(128, 3, 3);
}
.cerni{
	background-color: rgb(0, 0, 0);
}
.zluti{
	background-color: rgb(245, 241, 8);

}

td {
	max-width: 150px;
	padding: 7px;
    color: rgb(0, 0, 0);
}

.inputni {
	width: 600px;
	background-color: rgb(93, 255, 233);

}

.formu {
	width: 200px;
	background-color: rgb(162, 197, 162);
	padding: 15px;
	font-size: 14pt;
	border-radius: 20px;;
}
button:hover{
	background-color: rgb(180, 147, 55);
}
